doc2vec-model-english-11-Dec-2017-17:07:03.syn1neg.npy
doc2vec-model-english-04-Dec-2017-19:04:20.wv.syn0.npy
doc2vec-model-english-11-Dec-2017-17:07:03.syn1neg.npy
doc2vec-model-english-11-Dec-2017-17:07:03.wv.syn0.npy
doc2vec-model-german-11-Dec-2017-17:07:03.syn1neg.npy
doc2vec-model-german-11-Dec-2017-17:07:03.wv.syn0.npy
doc2vec-model-english-16-Feb-2018-22:17:58.syn1neg.npy
doc2vec-model-english-16-Feb-2018-22:17:58.wv.syn0.npy
doc2vec-model-english-17-Feb-2018-02:14:04.syn1neg.npy
doc2vec-model-english-17-Feb-2018-02:14:04.wv.syn0.npy
doc2vec-model-german-16-Feb-2018-19:25:22.syn1neg.npy
doc2vec-model-german-16-Feb-2018-19:25:22.wv.syn0.npy
doc2vec-model-german-16-Feb-2018-22:17:59.syn1neg.npy
doc2vec-model-german-16-Feb-2018-22:17:59.wv.syn0.npy
doc2vec-model-german-17-Feb-2018-02:14:04.syn1neg.npy
doc2vec-model-german-17-Feb-2018-02:14:04.wv.syn0.npy
doc2vec-single_language_70_model-english-18-Feb-2018-18:53:39
doc2vec-single_language_70_model-english-18-Feb-2018-18:53:39.syn1neg.npy
doc2vec-single_language_70_model-english-18-Feb-2018-18:53:39.wv.syn0.npy
doc2vec-single_language_70_model-german-18-Feb-2018-18:53:39
doc2vec-single_language_70_model-german-18-Feb-2018-18:53:39.syn1neg.npy
doc2vec-single_language_70_model-german-18-Feb-2018-18:53:39.wv.syn0.npy
doc2vec-single_language_full-model-english-18-Feb-2018-22:31:27
doc2vec-single_language_full-model-english-18-Feb-2018-22:31:27.syn1neg.npy
doc2vec-single_language_full-model-english-18-Feb-2018-22:31:27.wv.syn0.npy
doc2vec-single_language_full-model-german-18-Feb-2018-22:31:27
doc2vec-single_language_full-model-german-18-Feb-2018-22:31:27.syn1neg.npy
doc2vec-single_language_full-model-german-18-Feb-2018-22:31:27.wv.syn0.npy
